{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- the user's avatar -->
        <img src="{{#if user.avatar_url}}{{user.avatar_url}}{{else}}/avatar/{{username}}{{/if}}"
            alt="Avatar of {{username}}">
    </div>
</div>
<div class="post-content preserve-newlines">
    <!-- the post -->
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <div class="post-status-bar">
        <!-- everything that is shown in the status bar -->
        <!-- Heart = ♥ -->
        <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
        <span>Posted by {{username}} on {{timestamp}}</span>
        <span>Likes: {{likes}}</span>
        {{#ifCond username ./user.username}}
        <button class="like-button" data-id="{{id}}" onclick="handleLikeClick(event)">
            <i class="fas fa-thumbs-up"></i> Like
        </button>
        <button class="delete-button" data-id="{{id}}" onclick="handleDeleteClick(event)">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
        
        {{else}}
        <button class="like-button" data-id="{{id}}" onclick="handleLikeClick(event)">
            <i class="fas fa-thumbs-up"></i> Like
        </button>
        {{/ifCond}}
        {{!-- <!-- Debugging information -->
        <span>Debug - Current User: {{./user.username}}</span>
        <span>Debug - Post User: {{username}}</span> --}}
    </div>
</div>
</div>
<script>

    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');

        // you might want to "fetch" something...    
        fetch(`/like/${postId}`, {
            method: 'POST',
        })
            .then(response => {
                if (response.ok) {
                    // Reload the page or update the UI to show the new like count
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error liking the post:', error);
            });

    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');

        // you might want to "fetch" something...        
        fetch(`/delete/${postId}`, {
            method: 'POST',
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                }
            })
            .catch(error => {
                console.error('Error deleting the post:', error);
            });
    }    
</script>